:root{
  --color1: #ab2f59;
  --color2: #e5a062;
  --color3: rgb(171, 47, 89, 0.75);
}

body {
  font-family: Tahoma;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color3);
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 0;
  border: none;
  z-index: 400;
  gap: 0;
  
  
}

/* .bird-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 80px;
  max-height: 80px;
  mix-blend-mode: multiply;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  
  
  
} */

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 40%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Gill Sans', sans-serif, Calibri;
  font-size: 44px;
  font-stretch: extra-expanded;
  color: white;
  text-shadow: 4px 4px 6px rgba(4, 4, 4, 9);
  stop-opacity: 1;
  
}

.logo-description {
  font-size: 22px; 
  font-style: italic;
  text-shadow: 4px 4px 6px rgba(4, 4, 4, 9);
  stop-opacity: 1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  padding-left: 580px;
  
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-align: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.1s ease-in-out;
  font-size: 18px;
  color: white;
  text-shadow: 4px 4px 6px rgba(4, 4, 4, 9);
  transition-delay: 0;
  stop-opacity: 1;
  z-index: 300;
}

.nav:hover {
  background-color: var(--color2);
  
}

.banner {
  display: flex;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  z-index: 1;
}

.background-pic {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  stop-opacity: 1;
}


.bird {
 max-width: 300px;
 max-height: 300px;
 padding-left: 40px;
 padding-top: 100px;
 padding-bottom: 100px;
 mix-blend-mode: multiply;
 stop-opacity: 1;
}

.middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 50px;
  padding-left: 220px;
  padding-right: 100px;
  height: 100%;
}

.first-row,
.second-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 20px;
  row-gap:  20px;
}

.split,
.hover-overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  min-width: 480px;
  max-width: 480px;
  min-height: 200px;
  border: solid;
  border-width: 2px;
  border-color: var(--color1);
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(61, 24, 24, 0.5);
}

h2 {
  padding-top: 60px;
  padding-left: 10px;
}

.hover-animate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--color1);
  color: white;
  font: 16px;
}

.special {
  height: 200px;
  display: flex;;
  flex-direction: column;
  transition: all ease-out 500ms;
  overflow: hidden;

}

.special > div{
  flex-grow: 1;
}
.special .top{
  transition: all ease-out 500ms;
  height: 100%;
}
.special .bottom{
  transition: all ease-out 500ms;
  background-color: var(--color1);
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.special:hover .top{
  height: 0%;

}
.special:hover .bottom{
  height: 100%;
}

.split-top {
  background-color: white;
  color: black;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  min-height: 100px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-radius: 20px 20px 0 0;
  border: none;

}

.split-bottom {
  background-color: var(--color1);
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  min-height: 100px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 0 0 9px 9px;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  text-align: start;
  box-sizing: border-box;
  border: solid;
  border-width: 2px;
  border-color: var(--color1);
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(61, 24, 24, 0.5);
  min-width: 480px;
  min-height: 80px;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 30px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  justify-content: center;
}

.josie-img {
  border: none;
  border-radius: 180px;
  max-block-size: 88px;
  
}

.profile-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: start;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.click-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  text-align: start;
  box-sizing: border-box;
  border: none;
  max-width: 400px;
  max-height: 20px;
}

.button-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  text-align: start;
  box-sizing: border-box;
  border: solid;
  background-color: var(--color1);
  color: white;
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 4px;
  padding-right: 30px;
  padding-bottom: 4px;
}





@media(max-width: 600px) {
    .bird-header,
    .logo-description,
    .header,
    .logo,
    .navbar,
    .nav,
    .middle,
    .first-row,
    .second-row,
    .split,
    .hover-overlay,
    .split-top,
    .split-bottom
     {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: start;
      text-align: start;

    }
}

@media(max-width: 600px) {
  .banner {
    display: flex;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    z-index: 1;
  }

  .background-pic {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .bird {
    max-width: 400px;
    max-height: 400px;
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    mix-blend-mode: multiply;
    opacity: 0.9;
  }

  .h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


  
}










