:root{
  --color1: #ab2f59;
  --color2: #e5a062;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color1);
  font-size: 18px;
  font-family: tahoma;
  color: white;
  padding: 0px;
  
  opacity: 0.9;
  z-index: 200;
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 40%;
  padding: 8px;
  font-family: 'Gill Sans', sans-serif, Calibri;
  font-size: 33px;
  /* text-shadow: 4px 4px 6px rgba(0, 0, 0, 4); */
  color: white;
  text-shadow: 4px 4px 6px rgba(4, 4, 4, 7);
}

span {
  font-size: 22px; 
  font-style: italic;
  text-shadow: 4px 4px 6px rgba(4, 4, 4, 7);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 18px;
  transition: background-color 0.1s ease;
  text-shadow: 4px 4px 6px rgba(4, 4, 4, 7);
}

.nav:hover {
  background-color: var(--color2);
  opacity: 0.9;
}

.banner {
  display: flex;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  height: 600px;
  z-index: 1;
}

.background-pic {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 800px; */
}

.bird {
 max-width: 400px;
 max-height: 400px;
 padding-left: 100px;
 padding-top: 100px;
 mix-blend-mode: multiply;

}

.middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  /* column-gap: 40px; */
  row-gap: 30px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
}

.first-row,
.second-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  /* padding-left: 100px;
  padding-right: 100px; */
  column-gap: 30px;
  row-gap:  30px;
}

/* .first-row {

} */

.split,
.hover-overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 420px;
  min-height: 200px;
  border: solid;
  border-color: var(--color1);
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(61, 24, 24, 0.5);
}

.profile {
  display: flex;
  flex-direction: column;
  flex: wrap;
  min-width: 420px;
  min-height: 150px;
  border: solid;
  border-color: var(--color1);
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(61, 24, 24, 0.5);
}





